{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "useBuiltIns": "entry"
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    ["@babel/plugin-transform-runtime", {
      "useESModules": true
    }],
    ["@babel/plugin-proposal-class-properties", { 
      "loose": false 
    }],
    "@babel/plugin-syntax-dynamic-import",
    "react-hot-loader/babel",
    "lodash"
  ]
}
